In [6]:
import numpy as np 
import pandas as pd
from datetime import datetime

In [7]:
agri_dt = pd.read_csv('Agriculture.csv', skiprows=1).iloc[:317]
agri_dt.columns = ['Date', 'Live Cattles', 'Coffee', 'Corn', 'Cotton', 'Soybeans', 'Sugar', 'Wheat']
agri_dt['Date'] = agri_dt['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').strftime("%Y%m%d"))

def rep_fraction(s):
    rep_dict = {' 1/4':'.25', ' 1/2':'.5', ' 3/4': '.75'}
    for key in rep_dict.keys():
        s = s.replace(key, rep_dict[key])
    return s

agri_dt['Corn'] = agri_dt['Corn'].apply(rep_fraction)
agri_dt['Soybeans'] = agri_dt['Soybeans'].apply(rep_fraction)
agri_dt['Wheat'] = agri_dt['Wheat'].apply(rep_fraction)
agri_dt = agri_dt.interpolate()

In [8]:
agri_dt.head()

       Date  Live Cattles  Coffee    Corn  Cotton Soybeans  Sugar   Wheat
0  20200204       120.650   98.15  382.25   67.35    879.5  14.71  557.25
1  20200203       120.725   97.90  378.75   66.84      877  14.89   555.5
2  20200131       119.675  102.65  381.25   67.50    872.5  14.61  553.75
3  20200130       120.200  101.50   379.5   69.05   876.25  14.59   560.5
4  20200129       120.225  102.05  384.25   70.06      893  14.49  562.25

In [9]:
agri_dt.to_csv('clean_argiculture.csv', index=False)

In [10]:
columns = ['Unnamed: 0', 'US High Yied', 'US Investment Grade',
       'Emerging Investment Grade', 'Emerging High Yield OAS', 
       'Emerging Investment Grade OAS', 'US High Yield OAS', 
       'US Investment Grade OAS', 'US 10 Year -2 Year Gov Spread']

bi_dt = pd.read_csv('Bond Index.csv', skiprows=1)[columns]
columns[0] = 'Date'
bi_dt.columns = columns
bi_dt['Date'] = bi_dt['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').strftime("%Y%m%d"))
bi_dt = bi_dt.interpolate()

In [11]:
bi_dt.head()

,Date,US High Yied,US Investment Grade,Emerging Investment Grade,Emerging High Yield OAS,Emerging Investment Grade OAS,US High Yield OAS,US Investment Grade OAS,US 10 Year -2 Year Gov Spread
0,20200204,2188.9700,204.39,526.8440,6.39,1.36,3.72,1.10,18.4134
1,20200203,2184.9099,205.32,528.2544,6.55,1.40,3.83,1.13,16.8204
2,20200131,2183.3501,205.17,528.2468,6.53,1.40,3.90,1.13,18.7634
3,20200130,2183.6799,204.89,527.2715,6.48,1.39,3.82,1.11,16.8845
4,20200129,2187.2000,204.86,526.5925,6.38,1.38,3.71,1.09,16.5184

In [12]:
bi_dt.to_csv('clean_bondindex.csv', index=False)

In [13]:
cur_dt = pd.read_csv('Currency.csv').iloc[:1500].interpolate()
cur_dt['Date'] = cur_dt['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').strftime("%Y%m%d"))
cur_dt.head()

,Date,USDZAR BGN Curncy (L4),USDTWD Curncy (R4),USDTRY Curncy (L3),USDSGD Curncy (L1),USDSEK Curncy (R3),USDRUB Curncy (R1),USDPLN Curncy (R2),USDPEN Curncy (R2),USDNOK Curncy (R3),...,USDCOP Curncy (R1),USDCNY Curncy (L2),USDCLP Curncy (R1),USDCHF Curncy (L1),USDCAD Curncy (L1),USDBRL Curncy (L2),USDARS Curncy (R1),NZDUSD Curncy (L1),GBPUSD Curncy (R2),EURUSD Curncy (L1)
0,20200205,14.7840,30.120,5.9826,1.3818,9.5819,62.9364,3.8578,3.3622,9.2122,...,3362.3701,6.973400,778.17,0.9733,1.3287,4.2564,60.5894,0.6473,1.2999,1.1001
1,20200204,14.7831,30.195,5.9805,1.3704,9.5890,63.0129,3.8713,3.3630,9.2107,...,3361.2700,6.998400,781.50,0.9692,1.3277,4.2543,60.5842,0.6490,1.3031,1.1044
2,20200203,14.8843,30.295,5.9850,1.3686,9.6492,63.6779,3.8859,3.3721,9.2759,...,3396.9600,7.021500,788.79,0.9659,1.3286,4.2466,60.4630,0.6462,1.2995,1.1060
3,20200131,15.0282,30.241,5.9829,1.3648,9.6248,63.9613,3.8740,3.3849,9.2011,...,3420.5701,7.003067,800.54,0.9634,1.3237,4.2828,60.3470,0.6464,1.3206,1.1093
4,20200130,14.7648,30.271,5.9696,1.3623,9.6358,63.2030,3.8923,3.3674,9.1810,...,3414.8000,6.984633,796.19,0.9695,1.3209,4.2475,60.2513,0.6488,1.3093,1.1032

In [14]:
cur_dt.to_csv('clean_currency.csv', index=False)

In [15]:
em_dt = pd.read_csv('Energy _ Metals.csv', skiprows=1).iloc[:1500].interpolate()
em_dt.columns = ['Date', 'Crude Oil', 'Natural Gas', 'Aluminum', 'Copper', 'Gold', 'Nickel', 'Silver']
em_dt['Date'] = em_dt['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').strftime("%Y%m%d"))
em_dt.head()

,Date,Crude Oil,Natural Gas,Aluminum,Copper,Gold,Nickel,Silver
0,20200204,49.61,1.872,1686.0,5618.0,1552.92,12830.0,17.5945
1,20200203,50.11,1.819,1686.5,5525.0,1576.73,12725.0,17.6822
2,20200131,51.56,1.841,1722.0,5567.0,1589.16,12850.0,18.0425
3,20200130,52.14,1.829,1731.0,5587.5,1574.28,12620.0,17.8398
4,20200129,53.33,1.865,1737.0,5641.0,1576.83,12550.0,17.5585

In [16]:
em_dt.to_csv('clean_energy_metals.csv', index=False)

In [22]:
sp500 = pd.read_csv('S&P_500.csv')[['Date', 'Open', 'High', 'Low', 'Adj Close', 'Volume']]
sp500['Date'] = sp500['Date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').strftime("%Y%m%d"))
sp500.columns = ['trade_date', 'open', 'high', 'low', 'close', 'vol']
sp500.trade_date = sp500.trade_date.astype('str')

In [23]:
sp500.head()

  trade_date         open         high          low        close         vol
0   20200110  3281.810059  3282.989990  3260.860107  3265.350098  1631680402
1   20200109  3266.030029  3275.580078  3263.669922  3274.699951  3638390000
2   20200108  3238.590088  3267.070068  3236.669922  3253.050049  3720890000
3   20200107  3241.860107  3244.909912  3232.429932  3237.179932  3420380000
4   20200106  3217.550049  3246.840088  3214.639893  3246.280029  3674070000

In [25]:
sp500.to_csv('sp500.csv', index=False)